@mixin clearfix {
    &::after,
    &::before {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin pseudo($quantity) {
    position: relative;

    @if $quantity==1 {
        &::after {
            position: absolute;
            content: "";
            clear: both;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    @if $quantity==2 {
        &::after,
        &::before {
            position: absolute;
            content: "";
            clear: both;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }


}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin round($size) {
    @if $size==circle {
        border-radius: 50%;
    }

    @if $size==round {
        border-radius: 5rem;
    }

    @if $size==60 {
        border-radius: 60px;
    }

    @if $size==20 {
        border-radius: 20px;
    }

    @if $size==15 {
        border-radius: 15px;
    }

    @if $size==10 {
        border-radius: 10px;
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800
    }
}