@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-name: appear;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.header {
  width: 100%;
  background-color: $color_primary;
  z-index: 1000;
  padding: 0 1rem;

  @include respond(big-desktop) {
    padding: 0.5rem 7rem;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
      @include flexCenter;
      &__logo {
        & > svg {
          width: 12rem;
          height: auto;
        }
      }
    }
  }

  &__navbar {
    width: 100%;
    @include flexCenter;
  }

  &__new-navigate {
    @include flexCenter;
    min-width: 27rem;

    &>a {
      font-size: 2rem;
      padding: .5rem 1.5rem;
    }

    @include respond(phone) {
      display: none;
    }
    
    &--login {
      transition: 300ms;
      background: #fff;
      border-radius: 5rem;
      color: #175F9B !important;
      margin-left: 1rem;
      &:hover {
        box-shadow: 0 .3rem .6rem #000;
        transform: translateY(-.2rem);
      }
    }
  }

  &__navigate {
    display: flex;
    min-width: 25rem;
    background: $color-orange;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.7rem;
    border: 0.3rem solid #393939;
    cursor: pointer;

    @include round(30);
    @include pseudo(1);

    &:hover {
      &::after {
        transform: translate(78%, -50%);
        width: 56%;
        left: .5%;
      }
      & > a {
        color: #133c73 !important;
      }
      .header__navigate--adviser {
        color: #fff !important;
      }
    }

    &::after {
      transition: transform 0.3s, width 0.3s;
      z-index: 1;
      width: 47%;
      height: 103%;
      background: $color-white;
      left: -0.5%;
      top: 50%;
      transform: translateY(-50%);
      border: 0.2rem solid #707070;
      @include round(30);
    }

    & > a {
      z-index: 2;
      transition: color 0.3s;
      font-size: 2rem;
    }

    &--adviser {
      margin-right: 2rem;
      color: #133c73 !important;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .header {
    &__navbar {
      display: none;
    }
  }
}
