.header {
    width: 100%;
    background-color: $color_primary;
    padding: 1rem 2rem;

    @include respond(big-desktop) {
        padding: 1rem 7rem;
    }

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__navbar {
        width: 100%;

        @include flexCenter;
    }

    &__navigate {
        display: flex;
        min-width: 230px;

        &--adviser {
            margin-right: 25px;
        }
    }
}