.news {
    width: 90%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    border: 1px solid $color_border;
    margin-bottom: 3rem;

    @include round(100);

    @include respond(phone) {
        padding: 0;
        border: none;
    }
}

@media only screen and (max-width: 900px) {
    .news {
        display: none;
    }
}