.overlay {
  width: 100%;
  background-image: url("/assets/image/overlay.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 3rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 50;

  @include respond(tab-port) {
    background-image: none;
  }

  @include respond(phone) {
    background-image: url("/assets/image/phone-slider.png");
  }

  &__downloads {
    display: none;
    gap: 3rem;
    margin: 12rem auto;

    &>a {
      width: 12rem;
      &>svg {
        width: 100%;
      }
    }

    @include respond(tab-port) {
      @include flexCenter;
    }
  }

  &__slider {
    margin-top: 10rem;

    @include respond(tab-port) {
      margin-top: 23rem;
    }
    @include respond(phone) {
      margin-top: 45rem;
    }
  }

  &__categories {
    margin-right: 3rem;
    width: 50%;
    position: relative;

    @include respond(tab-port) {
      width: 70%;
      margin: 5rem auto;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__services {
    z-index: 95;
    width: 45%;
  }

  &__warranty {
    width: 80%;
    @include flexCenter;
    margin: 0 auto;
  }

  &__new-warranty {
    width: 80%;
    margin: 10rem 0;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }

  &__intro {
    margin: 0 auto 0 10rem;
    width: 30rem;

    @include flexColCenter;

    @include respond(big-desktop) {
      width: auto;
    }

    &>svg {
      width: 100%;
      height: 11.5rem;

      @include respond(big-desktop) {
        width: auto;
        height: 17rem;
      }
    }

    &>p {
      margin-top: 0.5rem;

      @include respond(big-desktop) {
        font-size: 3rem;
      }
    }

    &__applications {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0rem;

      &>a>svg {
        width: 7rem;
        height: 7rem;
      }

      @include respond(big-desktop) {
        padding: 1rem 1.5rem;

        &>a>svg {
          width: unset;
          height: unset;
        }
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1799px) {
  .overlay {
    &__intro {
      width: 55rem;
    }
  }
}

@media only screen and (min-width: 1295px) {
  .overlay {
    padding-top: 10rem;
    &__slider {
      margin-right: 18rem;
    }
    &__categories {
      margin-top: 6rem;
    }
    &__services {
      margin-top: 25rem;
    }
  }
}

// @media only screen and (min-width: 1244px) {
//   .overlay {
//     background-size: cover;
//   }
// }

@media only screen and (max-width: 1240px) {
  .overlay {
    &__services {
      width: 75%;
      margin-right: 5rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .overlay {
    &__services {
      width: 100%;
      margin: 0;
    }

    &__warranty {
      margin-top: 5rem;
      width: 95%;
    }

    &__new-warranty {
      margin: 0 auto;
      margin-top: 5rem;
      width: 95%;
    }
  }
}