.overlay {
    width: 100%;
    min-height: 100vw;

    background-image: url('/assets/image/overlay.png');
    background-size: contain;
    background-repeat: no-repeat;

    &__slider {
        position: absolute;
        top: 30%;
        // top: 33% ;
        right: 5%;
        @include respond(big-desktop) {
            right: 8%;
        }
    }

    &__categories {
        position: absolute;
        top: 38%;
        // top: 48%;
        right: 5%;

        width: 50%;
    }

    &__services {
        position: absolute;
        top: 55%;
        right: 5%;
        width: 45%;
    }

    &__warranty {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        width: 80%;
    }

    &__intro {
        position: absolute;
        top: 4rem;
        left: 4rem;
        width: 30rem;

        @include flexColCenter;
        @include respond(big-desktop) {
            width: auto;
        }

        & > svg {
            width: 100%;
            height: 11.5rem;

            @include respond(big-desktop) {
                width: auto;
                height: 17rem;
            }
        }

        & > p {
            margin-top: .5rem;
            @include respond(big-desktop) {
                font-size: 3rem;
            }
        }

        &__applications {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0rem;


            & > a > svg {
                width: 7rem;
                height: 7rem;
            }

            @include respond(big-desktop) {
                padding: 1rem 1.5rem;

                & > a > svg {
                    width: unset;
                    height: unset;
                }
            }
        }
    }
}
