@keyframes blurBackground__animation {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(5px);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidenav {
  z-index: 2000;
  width: 100%;
  height: 0;
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(0);
  // backdrop-filter: blur(5px);
  overflow: hidden;
  transition: 1s;
  transform: translateY(7rem);

  &__opacity {
    animation-name: opacity;
    animation-timing-function: ease-in-out;
    animation-delay: 900ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    &--reverse {
      animation-name: opacity;
      animation-timing-function: ease-in-out;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-direction: reverse;
    }
  }

  &__blurBackground__animation {
    animation-name: blurBackground__animation;
    animation-timing-function: ease-in-out;
    animation-delay: 900ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    &--reverse {
      animation-name: blurBackground__animation;
      animation-timing-function: ease-in-out;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-direction: reverse;
    }
  }

  &__border {
    z-index: 2002;
    position: inherit;
    width: 100%;
    height: 1.5rem;
    background-color: #ef5d24;
    box-shadow: 0 1rem 1.2rem rgba($color: #000000, $alpha: 0.8);
  }

  &__overlay {
    width: 30rem;
    position: absolute;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    & > div {
      height: 30%;
      width: 107%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include respond(phone) {
        height: 25%;
      }
      & > div {
        height: 16rem;
        width: 16rem;
        background-color:#EF5D24;
        left: 0;
        border-radius: 50%;
      }
    }
  }

  &__container {
    position: inherit;
    z-index: 2001;
    height: 91%;
    width: 30rem;
    background-color: #218cc3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30rem;

    & > nav {
      opacity: 0;
      transition: opacity 300ms;
      height: 65%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      & > a {
        font-size: 3.2rem;
        width: 100%;
        text-align: center;
        transition: all 300ms;

        @include pseudo(2);

        &:hover {
          &::before {
            background: rgb(239, 93, 36);
            background: linear-gradient(
              90deg,
              rgba(239, 93, 36, 1) 0%,
              rgba(255, 211, 1, 0.02) 70%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }

        &::before {
          transition: all 300ms;
          z-index: -1;
          background: none;
        }
      }
    }

    &__logo {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 1rem;

      @include respond(phone) {
        height: 25%;
      }

      &__logo {
        height: 13rem;
        width: 13rem;
        background-color: #fff;

        @include round(circle);
        @include flexCenter;
        @include pseudo(2);

        // &::before {
        //   z-index: -2;
        //   @include round(circle);
        //   @include absCenter;
        //   @include round(circle);
        //   width: 120%;
        //   height: 120%;
        //   background-color: #ef5d24;
        // }

        &::after {
          @include absCenter;
          @include round(circle);
          width: 110%;
          height: 110%;
          border: 0.3rem dashed #fff;
        }

        & > svg {
          width: 10rem;
          height: auto;
        }
      }
    }
  }
}
