/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.color--white {
  color: #fff;
}

.icon__btn {
  padding: 2rem;
  width: 7rem;
  height: 7rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__btn:hover, .icon__btn:active {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@-webkit-keyframes slider__1 {
  0%, 30% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  33%, 60% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  66%, 97% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  100% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
}

@keyframes slider__1 {
  0%, 30% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  33%, 60% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  66%, 97% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  100% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
}

@-webkit-keyframes slider__2 {
  0%, 30% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  33%, 60% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  66%, 97% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  100% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
}

@keyframes slider__2 {
  0%, 30% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  33%, 60% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  66%, 97% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  100% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
}

@-webkit-keyframes slider__3 {
  0%, 30% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  33%, 60% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  66%, 97% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
}

@keyframes slider__3 {
  0%, 30% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
  33%, 60% {
    z-index: 2;
    -webkit-transform: translate(0%, -90%) scale(1);
            transform: translate(0%, -90%) scale(1);
  }
  66%, 97% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate(-100%, -90%) scale(1);
            transform: translate(-100%, -90%) scale(1);
  }
}

.btn {
  font-size: 2rem;
  text-decoration: none;
}

.btn--link {
  color: #fff;
  margin: 0rem .5rem;
  padding: .6rem 2rem;
  border-radius: 5rem;
}

@media only screen and (min-width: 112.5em) {
  .btn--link {
    margin: 0rem 1.5rem;
  }
}

.btn--link--active {
  border: 4px solid #F05B23;
}

@font-face {
  font-family: 'IRANSans';
  src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
  src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2") format("svg");
}

@font-face {
  font-family: 'IRANSans(EnNum)';
  src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot") format("embedded-opentype");
  src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb.ttf") format("truetype"), url("../fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb.woff2") format("svg");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 65.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: IRANSans, sans-serif;
  direction: rtl;
}

p {
  font-size: 2rem;
}

.slider {
  background-image: url("/assets/image/slider_bottom.png");
  width: 76rem;
  height: 11.5rem;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
  position: relative;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slider > a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -webkit-transition: -webkit-transform z-index .3s;
  transition: -webkit-transform z-index .3s;
  transition: transform z-index .3s;
  transition: transform z-index .3s, -webkit-transform z-index .3s;
}

.slider > a > img {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
  border-radius: 5rem;
}

.slider > a:nth-child(1) {
  -webkit-animation: slider__1 9s linear infinite;
          animation: slider__1 9s linear infinite;
}

.slider > a:nth-child(2) {
  -webkit-animation: slider__2 9s linear infinite;
          animation: slider__2 9s linear infinite;
}

.slider > a:nth-child(3) {
  -webkit-animation: slider__3 9s linear infinite;
          animation: slider__3 9s linear infinite;
}

.header {
  width: 100%;
  background-color: #175F9B;
  padding: 1rem 2rem;
}

@media only screen and (min-width: 112.5em) {
  .header {
    padding: 1rem 7rem;
  }
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100vw;
  background-image: url("/assets/image/overlay.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay__slider {
  position: absolute;
  top: 33%;
  right: 10%;
}

.overlay__categories {
  position: absolute;
  top: 43%;
  right: 5%;
}

.overlay__intro {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro {
    width: auto;
  }
}

.overlay__intro > svg {
  width: 100%;
  height: 11.5rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro > svg {
    width: auto;
    height: 17rem;
  }
}

.overlay__intro > p {
  margin-top: .5rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro > p {
    font-size: 3rem;
  }
}

.overlay__intro__applications {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem;
}

.overlay__intro__applications > a > svg {
  width: 7rem;
  height: 7rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro__applications {
    padding: 1rem 1.5rem;
  }
  .overlay__intro__applications > a > svg {
    width: unset;
    height: unset;
  }
}
/*# sourceMappingURL=index.css.map */