/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.color--white {
  color: #fff;
}

.icon__btn {
  padding: 2rem;
  width: 7rem;
  height: 7rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__btn:hover, .icon__btn:active {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@-webkit-keyframes slider__1 {
  0%, 30% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  33%, 60% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  66%, 97% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  100% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
}

@keyframes slider__1 {
  0%, 30% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  33%, 60% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  66%, 97% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  100% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
}

@-webkit-keyframes slider__2 {
  0%, 30% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  33%, 60% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  66%, 97% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  100% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes slider__2 {
  0%, 30% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  33%, 60% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  66%, 97% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  100% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@-webkit-keyframes slider__3 {
  0%, 30% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  33%, 60% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  66%, 97% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
}

@keyframes slider__3 {
  0%, 30% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  33%, 60% {
    z-index: 2;
    -webkit-transform: translate(0%, -80%) scale(0.8);
            transform: translate(0%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  66%, 97% {
    z-index: 3;
    -webkit-transform: translate(-50%, -90%) scale(1.1);
            transform: translate(-50%, -90%) scale(1.1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate(-100%, -80%) scale(0.8);
            transform: translate(-100%, -80%) scale(0.8);
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
}

@-webkit-keyframes animation--manycategories {
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes animation--manycategories {
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes animation--manycategories--opacity {
  to {
    opacity: 1;
  }
}

@keyframes animation--manycategories--opacity {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animation--getawayImageHodler {
  to {
    width: 40%;
  }
}

@keyframes animation--getawayImageHodler {
  to {
    width: 40%;
  }
}

@-webkit-keyframes animation--newsImage {
  to {
    opacity: 1;
    width: 380px;
  }
}

@keyframes animation--newsImage {
  to {
    opacity: 1;
    width: 380px;
  }
}

@-webkit-keyframes animation--newsContainer {
  to {
    height: unset;
    border: 1px solid #707070;
  }
}

@keyframes animation--newsContainer {
  to {
    height: unset;
    border: 1px solid #707070;
  }
}

@-webkit-keyframes animation--newsTitle {
  to {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

@keyframes animation--newsTitle {
  to {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

@-webkit-keyframes animation--hanging {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation--hanging {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@font-face {
  font-family: 'IRANSans';
  src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
  src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2") format("svg");
}

@font-face {
  font-family: 'IRANSans(EnNum)';
  src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot") format("embedded-opentype");
  src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb.ttf") format("truetype"), url("../fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb.woff2") format("svg");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 65.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: IRANSans, sans-serif;
  direction: rtl;
  text-align: right;
}

p {
  font-size: 2rem;
  margin-bottom: 0;
}

a {
  color: #fff !important;
}

a:hover {
  cursor: pointer;
}

a > p {
  color: #fff;
}

button {
  border: none;
  background: none;
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input, textarea {
  padding: .5rem 2rem;
  font-size: 2rem;
  border: 1px solid #707070;
  border-radius: 20px;
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  padding: 2rem;
}

section {
  width: 100%;
}

.slider {
  background-image: url("/assets/image/slider_bottom.png");
  width: 76rem;
  height: 11.5rem;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
  position: relative;
}

@media only screen and (min-width: 112.5em) {
  .slider {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.slider > a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -webkit-transition: -webkit-transform z-index .3s;
  transition: -webkit-transform z-index .3s;
  transition: transform z-index .3s;
  transition: transform z-index .3s, -webkit-transform z-index .3s;
}

.slider > a > img {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
  border-radius: 5rem;
}

.slider > a:nth-child(1) {
  -webkit-animation: slider__1 9s linear infinite;
          animation: slider__1 9s linear infinite;
}

.slider > a:nth-child(2) {
  -webkit-animation: slider__2 9s linear infinite;
          animation: slider__2 9s linear infinite;
}

.slider > a:nth-child(3) {
  -webkit-animation: slider__3 9s linear infinite;
          animation: slider__3 9s linear infinite;
}

.categories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: hidden;
}

.categories__category {
  margin-left: 1rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__category > p {
  max-width: 10rem;
  text-align: center;
  color: #3E3E3E;
  margin-top: .5rem;
}

.categories__category__icon {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border: #545454 3px solid;
  border-radius: 20px;
}

.categories__category__icon > img {
  width: 100%;
  height: 100%;
}

.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__service {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 2rem;
  position: relative;
}

.services__service > a {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__service > a > div {
  position: relative;
  width: 11rem;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__service > a > div::after, .services__service > a > div::before {
  position: absolute;
  content: "";
  clear: both;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.services__service > a > div > img {
  width: 90%;
  height: 90%;
  -webkit-box-shadow: 0px 3px 20px #000;
          box-shadow: 0px 3px 20px #000;
  border-radius: 50%;
}

.services__service > a > div::after {
  width: 125%;
  height: 125%;
  border: 5px dashed #EF5D24;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.services__service > a > div::before {
  width: 135%;
  height: 135%;
  border: 2px solid #216CA9;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.services__service > a > p {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #000;
  min-width: 210px;
  padding: .5rem 1.5rem;
  border: 2px solid #2182BB;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#f5e4d5));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f5e4d5 100%);
  margin-top: 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  border-radius: 20px;
}

.services__service > a > p::after {
  position: absolute;
  content: "";
  clear: both;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.services__service > a > p::after {
  width: 108%;
  height: 100%;
  border: 2px dashed #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.services__service > p {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  position: absolute;
  text-align: center;
  margin-top: 3rem;
  width: 246px;
  top: 100%;
}

.services__service:hover > p, .services__service:focus > p {
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

.services__service:hover > a, .services__service:focus > a {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__service:hover > a > p, .services__service:focus > a > p {
  -webkit-box-shadow: 0px 60px 91px -7px rgba(96, 227, 253, 0.678);
          box-shadow: 0px 60px 91px -7px rgba(96, 227, 253, 0.678);
}

.warranty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warranty > img {
  width: auto;
  height: 23rem;
  margin-left: -1.5rem;
  z-index: 2;
}

.warranty__message {
  width: 100%;
  z-index: 1;
  border: 1px solid #707070;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#b4b4b4));
  background: linear-gradient(180deg, white 0%, #b4b4b4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
}

.warranty__message__main {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warranty__message__main > p {
  text-align: center;
  font-size: 2.6rem;
}

.warranty__message__other {
  height: 100%;
  overflow: auto;
  border-right: 1px solid #707070;
  padding: 1rem;
}

.warranty__message__other--header {
  font-size: 2.5rem !important;
  color: #EF5D24;
  margin-bottom: .5rem;
}

.warranty__message__other > p {
  font-size: 1.6rem;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__container__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__container__wrapper > p {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-align: center;
}

.app__categories {
  width: 100%;
  overflow: auto;
  margin-right: 5rem;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
  grid-auto-flow: column;
  grid-column-gap: 3rem;
}

.app__categories__category {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__categories__category > p {
  max-width: 10rem;
  text-align: center;
  color: #000;
  margin-top: .5rem;
}

.app__categories__category__icon {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border: #545454 3px solid;
  border-radius: 20px;
}

.app__categories__category__icon > img {
  width: 100%;
  height: 100%;
}

.app__categories__category__subcategory {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__categories__category__subcategory > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__categories__category__subcategory > div > p {
  font-size: 1.5rem;
  color: #3E3E3E;
}

.app__categories__category__subcategory > div > span {
  position: relative;
  height: 5px;
  width: 5px;
  margin-left: .5rem;
  position: relative;
}

.app__categories__category__subcategory > div > span::after {
  position: absolute;
  content: "";
  clear: both;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.app__categories__category__subcategory > div > span::after {
  background: #216AA7;
  border-radius: 50%;
}

.video__video {
  width: 60%;
}

.video__video > iframe {
  display: block;
  width: 100%;
  height: 50rem;
  border-radius: 40px;
}

.video__list {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3rem 0rem;
}

.video__list > h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.video__list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.video__list__list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.video__list__list > div > span {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: 1rem;
  position: relative;
}

.video__list__list > div > span::after {
  position: absolute;
  content: "";
  clear: both;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video__list__list > div > span::after {
  background: #216AA7;
  border-radius: 50%;
}

.email__email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem;
}

.email__email__title {
  width: 80%;
  padding: 1rem 3rem;
  background-color: #EF5D24;
  border-radius: 20px;
}

.email__email__title > p {
  color: #fff;
  font-size: 2rem;
}

.email__email__title--blue {
  background-color: #216AA7;
  padding: 1rem;
  width: 95%;
}

.email__email__form {
  margin-top: 1rem;
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.email__email__form > button {
  height: 70px;
  width: 150px;
  margin-left: 1rem;
  border-radius: 20px;
}

.email__email__form > div {
  height: 70px;
}

.email__email__form > div > input {
  width: 35%;
  text-align: left;
  border-radius: 15px;
  direction: ltr;
}

.btn {
  padding: 1rem 3rem;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 30px;
}

.btn--success {
  background-color: #5FEF81;
}

.btn--primary {
  background-color: #175F9B;
}

.btn--primary--dark {
  background-color: #043E66;
}

.btn--secondary {
  background-color: #EF5D24;
}

.btn--link {
  color: #fff;
  margin: 0rem .5rem;
  padding: .6rem 2rem;
  border-radius: 5rem;
}

@media only screen and (min-width: 112.5em) {
  .btn--link {
    margin: 0rem 1.5rem;
  }
}

.btn--link--active {
  border: 4px solid #EF5D24;
}

.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__news {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 80px;
  padding: 2rem;
}

.news__news__title {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
}

.news__news__title > p {
  font-size: 3rem;
  text-align: right;
  margin-bottom: 3rem;
}

.news__news__title > a {
  max-width: 280px;
}

.news__news__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__news__image > img {
  width: 0;
  opacity: 0;
  width: 380px;
  height: auto;
}

.news__getaway {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__getaway > img {
  top: -60%;
  position: absolute;
  width: 50rem;
  height: auto;
  -webkit-animation: animation--hanging 900ms linear 1s infinite alternate;
          animation: animation--hanging 900ms linear 1s infinite alternate;
}

.news__getaway > a {
  max-width: 200px;
}

.arrow__direction--left {
  margin-right: 1rem;
  -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
          clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.arrow__color--white {
  background-color: #fff;
}

.arrow__size--next-btn {
  height: 85%;
  width: 70%;
}

.arrow__size--small {
  height: 18px;
  width: 18px;
}

.shape {
  display: block;
}

.feedback__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5rem;
  height: 75vh;
  overflow: auto;
}

.feedback__list :not(:last-child) {
  margin-bottom: 3rem;
}

.feedback__list__element {
  width: 100%;
  border: 2px solid #707070;
  padding: 2rem;
  border-radius: 20px;
}

.feedback__list__element > p {
  text-align: right;
}

.feedback__header {
  width: 100%;
  padding: 2rem 10rem;
  position: relative;
}

.feedback__header__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__header__logo > img {
  height: auto;
  width: 300px;
}

.feedback__header__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__header__title > h3 {
  font-size: 3rem;
  font-weight: normal;
}

.feedback__bg {
  position: absolute;
  width: 7rem;
  height: auto;
}

.feedback__bg--top {
  top: 0;
  right: 0;
}

.feedback__bg--down {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__container__form {
  width: 100%;
  padding: 2rem;
}

.form__container__form__opinion {
  width: 100%;
  margin-top: 1rem;
}

.form__container__form__opinion > textarea {
  max-width: 100%;
  width: 100%;
  resize: vertical;
  height: 350px;
  max-height: 350px;
}

.form__container__form__personal-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__container__form__personal-info__input {
  border-radius: 40px;
}

.form__container__form__personal-info__input--name {
  width: 40%;
  margin-left: 1rem;
}

.form__container__form__personal-info__input--family {
  width: 60%;
}

.form__container__form__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.form__container__board {
  min-width: 60rem;
  width: 60rem;
  height: 60rem;
}

.form__container__board > a {
  width: 100%;
  height: 100%;
}

.form__container__board > a > img {
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.adviser {
  margin-top: 3rem;
}

.adviser__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14rem;
}

.adviser__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(204, 204, 204, 0.54);
  border: 1px solid #707070;
  border-right: none;
}

.adviser__list__chosen {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adviser__list__list {
  width: calc(100vw - 850px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1rem;
}

.adviser__list__list :not(:last-child) {
  margin-left: 1rem;
}

.adviser__list__list > img {
  height: 110px;
  width: 110px;
  border: 5px solid #707070;
  border-radius: 50%;
}

.adviser__list__next {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 70px;
  height: 100%;
  background-color: rgba(239, 93, 36, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adviser__title {
  padding: 4rem 1rem;
  background-color: #EF5D24;
  height: 100%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adviser__title > p {
  text-align: center;
  color: #fff;
}

.adviser__information {
  min-width: 500px;
  padding: 0rem 2rem;
  background-color: #216CA9;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adviser__information--title {
  font-size: 3rem;
  font-weight: bold;
}

.adviser__information > p {
  color: #fff;
  text-align: right;
  width: 100%;
}

.count {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 15rem;
}

.count__be-adviser {
  position: absolute;
  left: 38%;
  bottom: -20%;
  height: 120px;
  width: 120px;
  background-color: rgba(33, 130, 187, 0.8);
  border: 7px solid #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.count__be-adviser > p {
  color: #fff;
  width: 80%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.count__be-adviser--you {
  margin-right: 15px;
  font-size: 1.5rem;
}

.count__counter {
  position: absolute;
  left: 25%;
  font-size: 8rem;
  background-color: #fff;
  border: 15px solid #216CA9;
  color: #003B5E;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count__counter::after {
  position: absolute;
  content: "";
  clear: both;
  height: 120%;
  width: 120%;
  border: 4px dashed #2181BA;
  border-radius: 50%;
}

.count__counter::before {
  position: absolute;
  content: "";
  clear: both;
  height: 137%;
  width: 137%;
  border: 15px solid rgba(239, 93, 36, 0.85);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.54);
          box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.54);
  border-radius: 50%;
}

.count__container {
  width: 100%;
  background: #2182BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 6rem 4rem 10rem;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.49);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.49);
  border-radius: 150px;
  position: relative;
}

.count__container::after {
  position: absolute;
  content: "";
  clear: both;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.count__container::after {
  border: 4px dashed #fff;
  width: 99%;
  height: 90%;
  border-radius: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.count__container > p {
  color: #fff;
  font-size: 4.5rem;
}

.count__container__unit {
  font-size: 3.5rem !important;
}

.header {
  width: 100%;
  background-color: #175F9B;
  padding: 1rem 2rem;
}

@media only screen and (min-width: 112.5em) {
  .header {
    padding: 1rem 7rem;
  }
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100vw;
  background-image: url("/assets/image/overlay.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay__slider {
  position: absolute;
  top: 30%;
  right: 5%;
}

@media only screen and (min-width: 112.5em) {
  .overlay__slider {
    right: 8%;
  }
}

.overlay__categories {
  position: absolute;
  top: 38%;
  right: 5%;
  width: 50%;
}

.overlay__services {
  position: absolute;
  top: 55%;
  right: 5%;
  width: 45%;
}

.overlay__warranty {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

.overlay__intro {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro {
    width: auto;
  }
}

.overlay__intro > svg {
  width: 100%;
  height: 11.5rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro > svg {
    width: auto;
    height: 17rem;
  }
}

.overlay__intro > p {
  margin-top: .5rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro > p {
    font-size: 3rem;
  }
}

.overlay__intro__applications {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem;
}

.overlay__intro__applications > a > svg {
  width: 7rem;
  height: 7rem;
}

@media only screen and (min-width: 112.5em) {
  .overlay__intro__applications {
    padding: 1rem 1.5rem;
  }
  .overlay__intro__applications > a > svg {
    width: unset;
    height: unset;
  }
}

.app {
  width: 100%;
  padding: 10rem 0rem;
}

.video {
  width: 100%;
  background-color: #C2C2C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.email {
  width: 100%;
  margin-top: 5rem;
  padding: 3rem 5rem;
}

.news {
  width: 90%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 1px solid #707070;
  border-radius: 100px;
  margin-bottom: 3rem;
}

.feedback {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.form {
  width: 100%;
  padding: 3rem 7rem;
}
/*# sourceMappingURL=index.css.map */