// main colors

$color_white : #fff;
$color_black : #000;
$color_border : #707070;

$color_default : #a7a7a7;
$color_primary : #175F9B;
$color_primary_dark : #043E66;
$color_secondary : #EF5D24;
$color_success : #5FEF81;

// categories
$color-border-category : #545454;
$color-title-category : #3E3E3E;

// services
$color_services_border : #EF5D24;
$color_services_border--blue : #216CA9;
$color_services_button--blue : #2182BB;

//app
$color_list_circle : #216AA7;

//video
$color_bg : #C2C2C2;


//Typography
$color-orange: #EF5D24;

.color--white {
    color: $color_white;
}