.owl {
  &-stage {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    position: absolute;
    width: 100% !important;
    left: 0.5rem;
    &-outer {
      height: 100%;
      overflow: hidden;
      position: relative;
    }
  }

  &-item {
    margin: 0;
    margin-right: 0 !important;
    width: 100% !important;
    & > img {
      width: 33.5rem !important;
      @include round(50);
    }
  }
}

.app {
  margin-top: 15rem;

  @include respond(tab-port) {
    margin-top: 15rem;
  }

  &__mobile {
    position: relative;
    transform: scale(.9);

    @include respond(tab-port) {
      transform: scale(1);
    }

    &__overlay {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      &__blur {
        height: 130%;
        width: 130%;
        @include absCenter;
      }

      & > img {
        width: 22rem;
      }
    }

    &__slider {
      @include absCenter;
      z-index: 1;
      width: 100%;
      height: 60rem;
    }

    & > img {
      width: 33.8rem;
      position: inherit;
      z-index: 3;
    }
  }

  &__container {
    @include flexCenter;

    &__wrapper {
      width: 50%;
      @include flexColCenter;
      position: relative;

      @include pseudo(1);

      &::after {
        display: none;
        @include respond(tab-port) {
            display: block;
            position: absolute;
            width: 7rem;
            @include fog(right);
            height: 98%;
            right: 0;
        }
      }

      & > p {
        margin-bottom: 1rem;
        font-size: 3.5rem;
        text-align: center;
      }
    }
  }

  &__categories {
    width: 100%;
    overflow: auto;
    transition: all 500ms;

    margin-right: 5rem;
    padding: 3rem;

    display: grid;
    grid-template-rows: repeat(2, 20rem);
    grid-auto-flow: column;
    grid-column-gap: 3rem;

    // fix
    &:hover {
      grid-template-rows: repeat(2, 30rem);
    }
    
    @include respond(tab-port) {
      grid-template-rows: repeat(2, 30rem);
    }

    @include respond(phone) {
      align-self: flex-end;
      padding: 3rem 0;
    }

    &__category {
      width: 15rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & > p {
        max-width: 100%;
        text-align: center;
        color: $color-black;
        margin: 1rem 0;
        font-size: 2.5rem;
        @include respond(tab-port) {
          font-size: 2rem;
        }
      }

      &__icon {
        width: 10rem;
        height: 10rem;
        padding: 1rem;

        border: $color-border-category 0.3rem solid;
        @include round(20);

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        .app__categories {
          grid-template-rows: repeat(2, 30rem);
        }
        .app__categories__category__subcategory {
          height: 48%;
          opacity: 1;
        }
      }

      &__subcategory {
        transition: 500ms;
        width: 100%;
        @include flexColCenter;
        justify-content: flex-start;
        overflow: hidden;
        height: 0;
        opacity: .2;

        @include respond(tab-port) {
          height: 48%;
          opacity: 1;
        }

        & > div {
          @include flexCenter;
          justify-content: right;
          width: 100%;

          & > p {
            font-size: 1.7rem;
            color: $color-title-category;
            @include respond(tab-port) {
              font-size: 1.5rem;
            }
          }

          & > span {
            position: relative;
            height: 0.5rem;
            width: 0.5rem;

            margin-left: 0.5rem;

            @include pseudo(1);

            &::after {
              background: $color_list_circle;
              @include round(circle);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .app {
    &__container {
      &__wrapper {
        width: 45%;
        margin-top: 8rem;
        & > p {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .app {
    &__container {
      flex-direction: column;
      &__wrapper {
        width: 80%;
        margin-top: 3rem;
        padding-right: 0;
      }
    }
  }
}
