.btn {
    font-size: 2rem;
    text-decoration: none;

    &--link {
        color: $color_white;
        margin: 0rem .5rem;
        padding: .6rem 2rem;
        @include round(round);
        @include respond(big-desktop) {
            margin: 0rem 1.5rem;
        }

        &--active {
            border: 4px solid $color-secondary;
        }
    }
}