.count {
  position: relative;
  @include flexCenter;
  padding: 3rem 15rem;
  $position-left: 25%;

  &__be-adviser {
    position: absolute;
    left: $position-left + 13%;
    bottom: -20%;
    height: 12rem;
    width: 12rem;
    background-color: rgba($color: #2182bb, $alpha: 0.8);
    border: 7px solid $color-white;
    box-shadow: 0 3px 6px rgba($color: $color-black, $alpha: 0.5);

    @include round(circle);
    @include flexColCenter;

    & > p {
      color: $color-white;
      width: 80%;
      transform: translateY(-3px);
    }

    &--you {
      margin-right: 15px;
      font-size: 1.5rem;
    }
  }

  &__counter {
    position: absolute;
    left: $position-left;
    font-size: 8rem;

    background-color: $color-white;
    border: 1.5rem solid $color_services_border--blue;
    color: #003b5e;
    height: 25rem;
    width: 25rem;

    @include round(circle);
    @include flexCenter;

    &::after {
      position: absolute;
      content: "";
      clear: both;
      height: 120%;
      width: 120%;
      border: .4rem dashed #2181ba;
      @include round(circle);
    }

    &::before {
      position: absolute;
      content: "";
      clear: both;
      height: 137%;
      width: 137%;
      border: 1.5rem solid rgba($color: #ef5d24, $alpha: 0.85);
      background-color: rgba($color: $color-white, $alpha: 0.1);
      box-shadow: .7rem .7rem 2.5rem rgba($color: $color-black, $alpha: 0.54);

      @include round(circle);
    }
  }

  &__container {
    width: 100%;
    background: $color_services_button--blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem 4rem 10rem;
    box-shadow: 0px 1.5rem 1.5rem rgba($color: $color-black, $alpha: 0.49);

    @include round(150);
    @include pseudo(1);

    &::after {
      border: 4px dashed $color-white;
      width: 99%;
      height: 90%;
      @include round(150);
      @include absCenter;
    }

    & > p {
      color: $color_white;
      font-size: 4.5rem;
    }

    &__unit {
      font-size: 3.5rem !important;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .count {
    padding: 3rem 5rem;
    &__be-adviser {
      left: 45%;
    }
  }
}
