*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: inherit;
    font-family: inherit;
}

html {
    font-size: 65.5%;
}

@media only screen and (max-width: 1240px) {
    html {
        font-size: 50.5%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 40.5%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 35.5%;
    }
}

body {
    box-sizing: border-box;
    font-family: IRANSans, sans-serif;
    direction: rtl;
    text-align: right;
}

p {
    font-size: 2rem;
    margin-bottom: 0;
}

a {
    color: $color_white !important;
    &:hover {
        cursor: pointer;
    }
    &>p {
        color: $color-white;
    }
}

button {
    border: none;
    background: none;
    font-size: 2rem;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

input, textarea {
    padding: .5rem 2rem;
    font-size: 2rem;
    border: 1px solid $color_border;

    @include round(20);
    &:focus {
        outline: none;
    }
}

textarea {
    padding: 2rem;
}

section {
    width: 100%;
}
