.news {
    &__news {
        border: none;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        
        @include round(80);

        @include respond(phone) {
            width: 100%;
            flex-direction: column-reverse;
        }

        padding: 2rem;

        &__title {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 1rem;

            @include respond(phone) {
                margin-top: 2rem;
                align-items: center;
            }

            &>p {
                font-size: 3rem;
                text-align: right;
                margin-bottom: 3rem;
            }
            &>a {
                max-width: 28rem;
                @include respond(phone) {
                    margin-top: 2rem;
                }
            }
        }

        &__image {
            @include flexCenter;

            &>img {
                width: 0;
                opacity: 0;
                width: 38rem;
                height: auto;
            }
        }
    }

    &__getaway {
        width: 50%;
        // width: 40%;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            display: none;
        }

        &>img {
            top: -60%;
            position: absolute;
            width: 45rem;
            height: auto;
            animation: animation--hanging 900ms linear 1s infinite alternate;
            @include respond(tab-port) {
                width: 35rem;
                left: -2.5rem;
            }
        }

        &>a {
            max-width: 20rem;
        }
    }
}