.services {
  margin: 5rem 5rem 0 0;
  width: 100%;
  @include flexCenter;

  @include respond(phone) {
    @include flexColCenter;
  }

  &__title {
    display: none;
    @include respond(tab-port) {
      margin-top: 4rem;

      @include flexCenter;

      & > p {
        margin-left: 2rem;
        color: #002641;
        font-size: 6rem;
      }

      & > svg {
        width: 18rem;
        transform: translateY(-0.5rem);
      }
    }
  }

  &__service {
    width: 30%;
    @include flexColCenter;
    margin: 0rem 3rem;
    position: relative;

    @include respond(phone) {
      margin: 0;
      margin-bottom: 18rem;
    }

    &--noLeftMargin {
      margin-left: 0;
      @include respond(phone) {
        margin-bottom: 0;
      }
    }

    & > a {
      transition: transform 0.3s;
      width: 100%;
      @include flexColCenter;
      @include pseudo(1);

      &::after {

      }

      &>img {
        width: 20rem;
      }
    }

    & > p {
      transition: transform 0.3s;
      position: absolute;
      text-align: center;
      margin-top: 3rem;
      width: 24.6rem;
      top: 100%;
    }

    &:hover,
    &:focus {
      & > p {
        transform: translateY(3.5rem);
        @include respond(phone) {
          transform: translateY(2.5rem);
        }
      }
      & > a {
        transform: scale(1.1);
        &::after {
          // box-shadow: 0 6rem 9.1rem -0.7rem rgba(96, 227, 253, 0.678);
        }
      }
    }
  }
}

@media only screen and (max-width: 1240px) {
  .services {
    justify-content: flex-start;
    width: 90%;
    // margin-right: 0;
    &__service {
      width: 20%;
      & > a {
        & > p {
          min-width: 17rem;
          font-size: 2.5rem;
          border-radius: 4rem;
          &::after {
            border-radius: 4rem;
          }
        }
      }
      & > p {
        font-size: 1.5rem;
        width: 18rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .services {
    margin: 4rem auto !important;
    justify-content: center;
    align-items: center;
    &__service {
      width: unset;
      &:nth-child(1) {
        margin-right: 0;
      }
    }
  }
}
