@font-face {
    font-family: 'IRANSans';
    src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
    src: url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
    url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype"),
    url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2") format("svg");
}

@font-face {
    font-family: 'IRANSans(EnNum)';
    src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot") format("embedded-opentype");
    src: url("../fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb.ttf") format("truetype"),
    url("../fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb.woff2") format("svg");
}