.new-warranty {
  position: relative;
  display: flex;
  align-items: center;
  
  @include respond(phone) {
    width: 100%;
    margin-bottom: 5rem;
  }

  & > img {
    width: auto;
    height: 23rem;
    position: absolute;
    z-index: 2;
  }

  &__message {
    flex: 1;
    margin-right: 16rem;
    padding: 3rem 6rem 3rem 6rem;
    display: flex;
    flex-direction: column;
    background-color: #2182bb;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    z-index: 1;
    box-shadow: 1.5rem 2.9rem 3.2rem rgba($color: #000000, $alpha: 0.59);

    @include pseudo(1);

    &::after {
      z-index: -1;
      border: .4rem dashed #fff;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
      @include absCenter;
      width: 98%;
      height: 93%;
      border-right: none;
    }

    & > p {
      font-size: 2.5rem;
      color: #fff;
      margin-left: 6rem;

      @include respond(phone) {
        font-size: 2rem;
        margin-left: 0;
      }

      & > span {
        font-size: 4rem;
        text-shadow: 0 0.6rem 0.6rem #000;

        @include respond(phone) {
          font-size: 3rem;
        }
      }
    }
    & > a {
      margin-top: 2rem;
      font-size: 2rem;
      color: #ff9b74 !important;
      align-self: flex-end;
    }
  }
}
