@keyframes shakeMe {
    2%,
    18% {
      transform: translate3d(-5px, 0, 0) rotate(-2deg);
    }
  
    4%,
    16% {
      transform: translate3d(5px, 0, 0) rotate(2deg);
    }
  
    6%,
    10%,
    14% {
      transform: translate3d(-5px, 0, 0) rotate(-2deg);
    }
  
    8%,
    12% {
      transform: translate3d(5px, 0, 0) rotate(2deg);
    }
  
    18.1% {
      transform: translate3d(0px, 0, 0) rotate(0);
    }
  }
  
  .shake {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: shakeMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }